<!-- Seja um parceiro -->
<div id="onde-encontrar">
  <div class="container">
    <%= scroll_reveal animation: 'enter bottom move 100px, after 1s' do %>
        <div class="titulo-wrapper text-center">
            <%= image_tag 'titulo-onde_encontrar.png', alt: 'Onde encontrar' %>
        </div>
    <% end %>
  </div><!-- /.container -->
</div><!-- /#onde-encontrar -->