<!-- Seja um parceiro -->
<div id="parceiro">
  <div class="container">
        <div class="titulo-wrapper text-center">
            <%= image_tag 'titulo-seja_um_parceiro.png', alt: 'Seja um parceiro' %>
        </div>
        <h2 class="text-center">Tenha um freezer em seu estabelecimento</h2>
  </div><!-- /container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 freezers text-right">
        <%= image_tag 'freezer-acai.jpg', alt: 'PDV', class: 'img-resonsive', style: 'border-bottom: 5px solid #5E3086' %>       
      </div><!-- /col -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 freezers">
        <hr class="visible-xs">
        <%= image_tag 'freezer-sorvete.jpg', alt: 'PDV', class: 'img-responsive', style: 'border-bottom: 5px solid #EF2F34' %>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container-fluid -->
</div><!-- /parceiro -->