#onde-encontrar {
    width: 100%;
	background: image-url('hr.png') 0 0 no-repeat $vermelho-tema;
    background-size: auto auto;
	background-size: 100% 6px;
    padding-top: 40px;
    padding-bottom: 20px;    
    color: #fff;
    font-family: 'Museo 700';
 }
