
.img-parallax {
	position: absolute;
	width: 100%;
	height: 1000px;
	top: -1000px;
}

#layer_1{
	background: image-url('parallax/esquerda-trufado.png') no-repeat -120px 100px;
}
#layer_2{
	background: image-url('parallax/esquerda-branco.png') no-repeat -270px 70px;
}
#layer_3{
    background: image-url('parallax/direita-mexicano.png') no-repeat;
    background-position : calc(100% - -80px) 100px;
}
#layer_4{
    background: image-url('parallax/direita-dicone.png') no-repeat;
    background-position : calc(100% - -260px) 70px;
}
#layer_5{
	background: image-url('logo-mais-sabor.png') no-repeat center 200px;
}

#layer_6{
	background: image-url('siga-nos.png') no-repeat center 550px;
}

