
.img-parallax {
	position: absolute;
	width: 100%;
	height: 1000px;
}

#layer_1{
	background: image-url('parallax/esquerda-trufado.png') no-repeat -60px 0px;
}
#layer_2{
	background: image-url('parallax/esquerda-branco.png') no-repeat -230px 0px;
}
#layer_3{
	background: image-url('parallax/direita-mexicano.png') no-repeat 750px 0px;
}
#layer_4{
	background: image-url('parallax/direita-dicone.png') no-repeat 950px 0px;
}