#parceiro {
    width: 100%;
    background: image-url('hr.png') 0 0 no-repeat $vermelho-tema;
    background-size: auto auto;
	background-size: 100% 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Museo 700';
 }
 .freezers {
 	/*border: 1px solid #fff;*/
 	padding: 0;
 	background-color: #a1a1a1;
 }