// Place all the styles related to the partnerships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#parceiro {
    width: 100%;
    background: image-url('hr.png') 0 0 no-repeat $vermelho-tema;
    background-size: auto auto;
	background-size: 100% 6px;
    padding-top: 40px;
    padding-bottom: 0;
    color: #fff;
    font-family: 'Museo 700';
 }
 .freezers {
 	/*border: 1px solid #fff;*/
 	padding: 0;
 	background-color: #a1a1a1;
 }

 .margem-bottom {
 	margin-bottom: 20px;
 }