#produtos {
    width: 100%;
    background: image-url('bg-bolinha.jpg');
    background-color: $vermelho-tema;
    padding-top: 40px;
    padding-bottom: 0;
    box-shadow: inset 0px 18px 19px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0px 18px 19px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 18px 19px 3px rgba(0,0,0,0.4);
    font-family: 'Museo 700';
 }

.envolucro{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

 .category-name{
    font-family: 'Museo 900';
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 28px;
    border: 1px solid #fff;
    width: 200px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background-color: $vermelho-tema;
 }

 .lines-list{
    border: 1px solid #fff;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    padding: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
 }

 .line-wrapper{    
    border: 1px solid transparent;
    background-image: image-url('bg-pontilhado.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;

    .line-name{
        position: absolute;
        padding-top:25px;
        width: 90%;
        text-align: center;

        .line-name-span{
            background-color: #fff;
            color: $vermelho-tema;
            /*padding: 5px;*/
            border: 4px solid #fff;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
            box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
            /*font-size: 16px;*/
        }
    }



    .line-photo{
        text-align: center;
    }
 }

 .line-wrapper:hover{
    /*border: 1px dotted #fff;*/
    background-color: $vermelho-escuro;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
    cursor: pointer;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
 }