#quem-somos {
    width: 100%;
	background: image-url('hr.png') 0 0 no-repeat $vermelho-escuro;
    background-size: auto auto;
	background-size: 100% 6px;
    padding-top: 40px;
    padding-bottom: 20px;    
    color: #fff;
    font-family: 'Museo 700';
 }

 .video {
 	background-color: #fff;
 	padding: 4px;
 	border: 1px solid #ddd;
 	border-radius: 4px;
 }