// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
#banner {
    height: 445px;
    width: auto;
    background: image-url('banner-teste2.png') no-repeat center top; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

#produtos {
   width: 100%;
   background: image-url('bg-bolinha.jpg');
   background-color: $vermelho-tema;
   padding-top: 40px;
   padding-bottom: 0;
   box-shadow: inset 0px 18px 19px 3px rgba(0,0,0,0.4);
   -webkit-box-shadow: inset 0px 18px 19px 3px rgba(0,0,0,0.4);
   -moz-box-shadow: inset 0px 18px 19px 3px rgba(0,0,0,0.4);
}