<nav class="navbar navbar-default" id="scroll-menu">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      	<a href="#inicio" class="navbar-brand">
            <%= image_tag 'dielo-logo-cab-shadow.png', width: '170' %>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Produtos', products_path %></li>
        <li><%= link_to 'Quem somos', page_path('quem-somos') %></li>
        <li><%= link_to 'Onde encontrar', page_path('onde-encontrar') %></li>
        <li class="hidden-sm"><a href="#parceiro">Seja um parceiro</a></li>
        <li><a href="#fale-conosco">Fale conosco</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>